body {
  background: #86109b;
  font-size: 20px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.App-title,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.input-text {
  width: 10em;
  height: 1.5em;
  border: none;
  border-radius: 5px;
}

.add-btn {
  background-color: blue;
  border: none;
  border-radius: 0.3em;
  width: 4em;
  height: 1.5em;
  justify-content: space-around;
  color: white;
  float: right;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  width: 20em;
  margin-top: 0em;
  height: 20%;
  list-style-type: none;
}

.btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.3em;
  height: 1.6em;
  float: right;
  margin-right: 1em;
}
